.idea
*.pyc
*.pkl
*.pt
**/**/**/experiments/*/*/
**/**/**/production/*/
**/**/datasets/*/*.txt
**/**/datasets/*/*.csv
**/**/datasets/*/*.zip
__pycache__
.DS_Store
.floydexpt
.floydignore
floyd.yml
.floyddata
glove.6B.300d.txt